@charset "UTF-8";

@font-face {
    font-family: 'Love';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #25a75f;
    --cor2: #05431f;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    color: white;
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor2), #074622);
    padding: 20px;
}

nav {
    background-color: #063C1D;
    text-align: left;
    padding: 10px;
}

nav > a {
    color: #93D5B1;
    text-decoration: none;
    padding: 15px;
}

p {
    width: 400px;
    margin: auto;
    padding: 20px;
}

body {
    background-color: #E9E6C3;
}

main {
    background-color: white;
}