@charset "UTF-8";

@font-face {
    font-family: 'Love';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #25a75f;
    --cor2: #064b23;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor2), #063C1D);
    padding: 0px;
}

nav {
    background-color: #063C1D;
    text-align: left;
    padding: 10px;
    box-shadow: 1px 1px 10px #05341994;
}

nav > a {
    color: #93D5B1;
    text-decoration: none;
    padding: 15px;
}

nav > a:hover {
    color: #063C1D;
    background-color: var(--cor1);
    border-radius: 6px;
}

h1#titulo {

    padding: 20px;
}

p#tit-des {
    width: 500px;
    margin: auto;
    padding: 15px;
}

body {
    background-color: #E9E6C3;
}

main {
    background-color: white;
}